*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: gray;
    margin: 20px;
    padding: 20px;
    list-style: none;
    color:black;
    display: flex;
    text-align: center;
    justify-content: space-around;

}
.logo-img{
    width: 150px;
    text-align: left;
    
}
.menus{
    display: flex;
}
.items{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
.items:hover{
    color: aqua;
    cursor: pointer;
}
.banner-ing{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    /* border: 2px solid gray; */
    color: white;
    background-image: url("/pic/background.png"),
    linear-gradient(45deg,#131212,#2e2d2d);
}
.title{
    font-size: 60px;
    font-weight: bold;
}
.cp{
    color: rgb(120, 120, 206);
    font-size: 65px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p1{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
}
.btn{
    padding: 10px 20px ;
    background-color: aqua;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    border: none;
    border-radius: 8px;
}
.btn:hover{
    color: blue;
    cursor: pointer;

}